body {
  background: gainsboro;
}
div#app {
  h1 {
    text-align: center;
  }
}

.navbar {
  background-color: rgb(6, 119, 194);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8px;

  h2 {
    color: #fff;
  }
}
